/* @font-face {
    font-family: "myFirstFont";
    src: "Pokemon Classic.ttf";
}

body {
    font-family: "myFirstFont";
} */

.flex-container {
    display: flex;
}

.flex-child {
    flex: 1;
}

.flex-child:first-child {
    margin-right: 20px;
} 

.pokemons-affichage-haut {
    border: 2px solid;
}

.pokemon-infos {
    font-size: 25px;
    flex: 1;
}

.pokemon-image {
    flex: 1;
    height: 325px;
    max-width: 350px;
}

li {
    margin-bottom: 5px;
}

.capa {
    width: 300px;
    padding: 5px 5px;
    text-align: left;
    border-radius: 15px;
    border: none;
}

.capa_mini {
    width: 90%;
    padding: 10px 10px;
    text-align: left;
    border-radius: 15px;
    border: none;
}

.cat_Capa {
    float: right;
    width: 20px;
}

.cat_Capa_mini {
    float: right;
    width: 20px;
}

.PP_Capa {
    text-align: end;
    width: 15%;
    float: right;
}

.PP_Capa_mini {
    text-align: end;
    width: 15%;
    float: right;
}

.card {
    display: flex; /* Utiliser un affichage flex pour aligner horizontalement les éléments enfants */
    align-items: center; /* Aligner verticalement les éléments enfants au centre */
}

.pokemon-infos {
    flex: 1; /* Le contenu de cette div occupera l'espace disponible (largeur flexible) */
}

ul {
    list-style-type: none; /* Retirer la puce */
    padding-left: 0; /* Retirer le padding gauche si nécessaire */
}

.Team_Type {
    width: 50%;
}

.pokeball {
    width: 100px;
}

.card-text-mini {
    height: 20px;
}

.statut-box {
    width: 80px;
}

#equipe1 {
    margin-top: 1%;
    /* width: 800px; */
}

.equipe1-pokemon-card {
    width: 33%;
}

#equipe2 {
    float: right;
}

#zone-de-texte {
    margin-top: 1%;
    width: 400px;
    border: 2px solid;
    overflow: auto;
    padding: 1em;
}

.container {
    display: flex;
    align-items: center;
    /* justify-content:space-between; */
    width: 100%;
    padding: 0 20px; /* Optionnel : pour ajouter un peu de marge intérieure */
    box-sizing: border-box;

}

.control-panel {
    float: left;
}

#aleatoire {
    background-color: #3DA224;
    width: 80px;
    height: 100px;
    padding: 5px 5px;
    text-align: center;
    border-radius: 15px;
    border: none;
    margin-left: 1%;
}

.clear {
    clear: both;
}

#meteo {
    display: block;
    width: 7%; /* Pour que l'image ne dépasse pas de son conteneur */
    height: auto;
    margin: auto;
    margin-top: 1%;
}


button {
    background: none;
    color: inherit;
    outline: none;
    box-shadow: none;
    font-family: 'Pokemon Solid', sans-serif;
}

.Acier {
    background-color: #60A2B9;
    color: #000;
}

.Combat {
    background-color: #FF8100;
    color: #000;
}

.Dragon {
    background-color: #4F60E2;
    color: #000;
}

.Eau {
    background-color: #2481EF;
    color: #000;
}

.Electrick {
    background-color: #FAC100;
    color: #000;
}

.Fée {
    background-color: #EF70EF;
    color: #000;
}

.Feu {
    background-color: #E72324;
    color: #000;
}

.Glace {
    background-color: #3DD9FF;
    color: #000;
}

.Insecte {
    background-color: #92A212;
    color: #000;
}

.Normal {
    background-color: #A0A2A0;
    color: #000;
}

.Plante {
    background-color: #3DA224;
    color: #000;
}

.Poison {
    background-color: #923FCC;
    color: #000;
}

.Psy {
    background-color: #EF3F7A;
    color: #000;
}

.Roche {
    background-color: #B0AA82;
    color: #000;
}

.Sol {
    background-color: #92501B;
    color: #000;
}

.Spectre {
    background-color: #703F70;
    color: #000;
}

.Ténèbres {
    background-color: #4F3F3D;
    color: #fff;
}

.Vol {
    background-color: #82BAEF;
    color: #000;
}
